[submodule "third_party/graph"]
	path = third_party/graph
	url = https://github.com/boostorg/graph
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf
